body{
    background:#f4f6f9;
    font-family:Arial, Helvetica, sans-serif;
}

.login-container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.login-card{
    width:420px;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0px 0px 10px rgba(0,0,0,.2);
}

.login-card h2{
    font-weight:bold;
}

.wrapper{
    display:flex;
}

.sidebar{
    width:250px;
    min-height:100vh;
    background:#212529;
}

.logo{
    color:white;
    text-align:center;
    padding:20px;
}

.sidebar ul{
    list-style:none;
    padding:0;
}

.sidebar ul li{
    padding:15px 20px;
}

.sidebar ul li a{
    color:white;
    text-decoration:none;
    display:block;
}

.sidebar ul li:hover{
    background:#0d6efd;
}

.main-content{
    flex:1;
    background:#f8f9fa;
}

.top-navbar{
    background:white;
    padding:15px 25px;
    display:flex;
    justify-content:space-between;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
    margin-bottom:20px;
}

.card{
    border:none;
    border-radius:10px;
}